<launch>
    <arg name="frame_prefix" default=""/>
    <arg name="robot_name" default=""/>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find champ_config)/config/move_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find champ_config)/config/move_base/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find champ_config)/config/move_base/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find champ_config)/config/move_base/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find champ_config)/config/move_base/base_local_planner_holonomic_params.yaml" command="load" />
        <rosparam file="$(find champ_config)/config/move_base/move_base_params.yaml" command="load" />
        <param name="base_global_planner" value="octo_planner/OctoGlobalPlanner"/>

        <rosparam>                                                                                                                                    
            OctoGlobalPlanner:                                                                                                                          
                octomap_topic: /octomap                                                                                                                   
                robot_radius: 0.25                                                                                                                        
                require_ground_support: true                                                                                                              
                strict_direct_ground_support: false                                                                                                       
                snap_search_radius_cells: 12                                                                                                              
        </rosparam>               

        <!-- explicitly define frame ids for movebase -->
        <param name="global_costmap/global_frame"                   value="$(arg frame_prefix)map"/>
        <param name="global_costmap/robot_base_frame"               value="$(arg frame_prefix)base_footprint"/>
        <param name="global_costmap/2d_obstacles_layer/scan/topic"  value="$(arg robot_name)scan"/>
        <param name="global_costmap/3d_obstacles_layer/depth/topic" value="$(arg robot_name)camera/depth/points"/>
        <param name="local_costmap/global_frame"                    value="$(arg frame_prefix)odom"/>
        <param name="local_costmap/robot_base_frame"                value="$(arg frame_prefix)base_footprint"/>
        <param name="local_costmap/2d_obstacles_layer/scan/topic"   value="$(arg robot_name)scan"/>
        <param name="local_costmap/3d_obstacles_layer/depth/topic"  value="$(arg robot_name)camera/depth/points"/>
    </node>
    
    <node pkg="jie_octomap" type="occupancy_grid_to_octomap_node" name="occupancy_grid_to_octomap" output="screen">                             
        <!-- 订阅的 2D 栅格地图话题 (通常为 /map) -->                                                                                             
        <param name="grid_topic" value="/map" />                                                                                                                                                                                                                                    
        <!-- 发布的三维 OctoMap 话题 -->                                                                                                          
        <param name="octomap_topic" value="/octomap" />                                                                                                                                                                                       
        <!-- 全局地图坐标系 -->                                                                                                                   
        <param name="frame_id" value="map" />                                                                                                                                                                                                                                          
        <!-- 生成的 OctoMap 栅格分辨率 (单位: 米) -->                                                                                             
        <param name="octomap_resolution" value="0.2" />                                                                                                                                                                                                     
        <!-- 2D 障碍物转换为 3D 障碍物时的高度 (高度范围，单位: 米) -->                                                                           
        <param name="wall_height_m" value="1.0" />                                                                                                                                                                                                  
        <!-- 三维障碍物底部的 Z 轴高度 (底面高度，单位: 米) -->                                                                                   
        <param name="floor_z_m" value="0.0" />                                                                                                                                                                                                       
        <!-- 2D 栅格的占用阈值判定 (0-100)，超过该概率值的栅格会被转换为 3D 障碍 -->                                                              
        <param name="occupied_threshold" value="50" />                                                                                            
    </node>

    <node pkg="jie_octomap" type="octomap_to_occupied_markers_node" 
        name="octomap_to_occupied_markers_node" output="screen" />

    <arg name="use_rviz" default="true"/>
    <node if="$(arg use_rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find gazebo_sim)/config/go2.rviz" required="true" />
</launch>
