<launch>
    <arg name="robot_name"             default="/"/> <!-- Change this for namespacing. -->
    <arg name="config_package"         default="go1_config"/>
    <arg name="rviz"                   default="false"/> <!-- Set to true to run rviz in parallel. -->
    <arg name="lite"                   default="false" />  <!-- Set to true if you're using CHAMP lite version. Only useful for microcontrollers. -->
    <arg name="ros_control_file"       default="$(eval find(arg('config_package')) + '/config/ros_control/ros_control.yaml')" /> <!-- Path to ROS Control configurations. -->
    <arg name="gazebo_world"           default="$(find gazebo_ros)/worlds/empty.world" /> <!-- Path to Gazebo world you want to load. -->
    <arg name="gui"                    default="true"/>
    <arg name="world_init_x"           default="0.0" /> <!-- X Initial position of the robot in Gazebo World -->
    <arg name="world_init_y"           default="0.0" /> <!-- Y Initial position of the robot in Gazebo World -->
    <arg name="world_init_z"           default="0.4" />
    <arg name="world_init_heading"     default="0.0" /> <!-- Initial heading of the robot in Gazebo World (aligned with Gmapping map frame) -->
    <arg name="respawn_controller"     default="false"/>
    <arg name="enable_contact_sensor"  default="false" />
    <arg name="init_posture"           default="sit" />
    
    <!-- Bringup 相关参数 -->
    <arg name="joint_controller_topic" default="joint_group_position_controller/command"/>
    <arg name="hardware_connected"     default="false"/>
    <arg name="publish_foot_contacts"  default="true"/>
    <arg name="close_loop_odom"        default="true"/>
    <arg name="publish_joint_control"  default="true"/>
    <arg name="has_imu"                default="true"/>
    <arg name="laser"                  default="sim"/>
     
    <param name="use_sim_time" value="true" />
    <param name="init_posture" value="$(arg init_posture)" />

    <include file="$(eval find(arg('config_package')) + '/launch/bringup.launch')">
        <arg name="robot_name"             value="$(arg robot_name)"/>
        <arg name="gazebo"                 value="true"/>
        <arg name="lite"                   value="$(arg lite)"/>
        <arg name="rviz"                   value="$(arg rviz)"/>
        <arg name="joint_controller_topic" value="$(arg joint_controller_topic)"/>
        <arg name="hardware_connected"     value="$(arg hardware_connected)"/>
        <arg name="publish_foot_contacts"  value="$(arg publish_foot_contacts)"/>
        <arg name="close_loop_odom"        value="$(arg close_loop_odom)"/>
        <arg name="publish_joint_control"  value="$(arg publish_joint_control)"/>
        <arg name="has_imu"                value="$(arg has_imu)"/>
        <arg name="laser"                  value="$(arg laser)"/>
    </include>

    <group ns="$(arg robot_name)">
        <node  name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg robot_name)  
        -param robot_description -robot_namespace $(arg robot_name) 
        -x $(arg world_init_x) -y $(arg world_init_y) -z $(arg world_init_z) -Y $(arg world_init_heading)" />

        <rosparam file="$(arg ros_control_file)" command="load"/>
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="$(arg respawn_controller)"
            output="screen" args="joint_states_controller joint_group_position_controller">
        </node>

        <node if="$(arg enable_contact_sensor)"  pkg="champ_gazebo" name="contact_sensor" type="contact_sensor" output="screen"/>
    </group>
</launch>